// _variables.scss
$color-primary: #00ADEE;   // Màu bậc 1 (Màu chủ đạo)
$color-level-2: #00B2EF;   // Màu bậc 2
$color-level-4: #00BFF2;   // Màu bậc 4s
$color-level-7: #8DD7F7;   // Màu bậc 7
$color-level-9: #C6E9FA;   // Màu bậc 9
$text-color: #000000;      // Màu chữ mặc định